{% extends "base" %}

{% block content %}
<form method="post" action="/register">
	<h2>Register</h2>
	<label for="username">Username: </label>
	<input type="text" name="username" />
	<br />
	<label for="password">Password: </label>
	<input type="password" name="password" />
	<br />
	<label for="repeated_password">Repeat password: </label>
	<input type="password" name="repeated_password" />
	<br />
	<input type="submit" />
</form>
{% endblock %}