{% extends "base" %}

{% block content %}
<form method="post" action="/login">
	<h2>Login</h2>
	<label for="username">Username: </label>
	<input type="text" name="username" />
	<br />
	<label for="password">Password: </label>
	<input type="password" name="password" />
	<br />
	<input type="submit" />
</form>
{% endblock %}